USE [Furniture]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/14/2021 9:50:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 3/14/2021 9:50:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contact](
	[ctid] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [varchar](150) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[subject] [varchar](150) NOT NULL,
	[message] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ctid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 3/14/2021 9:50:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[orderID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC,
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/14/2021 9:50:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [datetime] NOT NULL,
	[userID] [int] NULL,
	[fullName] [nvarchar](max) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[phoneNumber] [nvarchar](max) NOT NULL,
	[orderNotes] [nvarchar](max) NULL,
	[orderTotal] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product_Categories]    Script Date: 3/14/2021 9:50:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Categories](
	[pid] [int] NOT NULL,
	[cid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pid] ASC,
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product_Comments]    Script Date: 3/14/2021 9:50:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product_Comments](
	[cmtid] [int] IDENTITY(1,1) NOT NULL,
	[pid] [int] NULL,
	[uid] [int] NULL,
	[cdate] [datetime] NULL,
	[comment] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cmtid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product_Images]    Script Date: 3/14/2021 9:50:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product_Images](
	[imgid] [int] IDENTITY(1,1) NOT NULL,
	[pid] [int] NULL,
	[imageURL] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[imgid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/14/2021 9:50:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[pname] [varchar](max) NOT NULL,
	[price] [float] NOT NULL,
	[pshortdesc] [varchar](max) NOT NULL,
	[pdesc] [varchar](max) NOT NULL,
	[available] [bit] NOT NULL,
	[pthumbnail] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/14/2021 9:50:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](150) NOT NULL,
	[password] [varchar](150) NOT NULL,
	[fullname] [varchar](150) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[address] [varchar](150) NOT NULL,
	[phonenumber] [varchar](150) NOT NULL,
	[avatarURL] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([cid], [cname]) VALUES (1, N'Sofa')
INSERT [dbo].[Categories] ([cid], [cname]) VALUES (2, N'Table')
INSERT [dbo].[Categories] ([cid], [cname]) VALUES (3, N'Chair')
SET IDENTITY_INSERT [dbo].[Categories] OFF
INSERT [dbo].[OrderDetails] ([orderID], [productID], [quantity]) VALUES (2, 57, 10)
INSERT [dbo].[OrderDetails] ([orderID], [productID], [quantity]) VALUES (2, 58, 10)
INSERT [dbo].[OrderDetails] ([orderID], [productID], [quantity]) VALUES (3, 57, 100)
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([orderID], [orderDate], [userID], [fullName], [address], [email], [phoneNumber], [orderNotes], [orderTotal]) VALUES (2, CAST(N'2020-11-09 04:11:04.610' AS DateTime), 1, N'Nguyen Tien Dat', N'Thon 12 - Hoa Dong - Thuy Nguyen - Hai Phong', N'datnthe140692@fpt.edu.vn', N'0352500406', N'', 2049.800048828125)
INSERT [dbo].[Orders] ([orderID], [orderDate], [userID], [fullName], [address], [email], [phoneNumber], [orderNotes], [orderTotal]) VALUES (3, CAST(N'2020-11-09 04:12:00.400' AS DateTime), 1, N'Nguyen Tien Dat', N'Thon 12 - Hoa Dong - Thuy Nguyen - Hai Phong', N'datnthe140692@fpt.edu.vn', N'0352500406', N'fsdfadadasdasd', 11948.8095703125)
SET IDENTITY_INSERT [dbo].[Orders] OFF
INSERT [dbo].[Product_Categories] ([pid], [cid]) VALUES (3, 1)
INSERT [dbo].[Product_Categories] ([pid], [cid]) VALUES (4, 1)
INSERT [dbo].[Product_Categories] ([pid], [cid]) VALUES (9, 1)
SET IDENTITY_INSERT [dbo].[Product_Comments] ON 

SET IDENTITY_INSERT [dbo].[Product_Comments] OFF
SET IDENTITY_INSERT [dbo].[Product_Images] ON 

INSERT [dbo].[Product_Images] ([imgid], [pid], [imageURL]) VALUES (1, 3, N'assets/img/gallery/product-details1.png')
INSERT [dbo].[Product_Images] ([imgid], [pid], [imageURL]) VALUES (2, 3, N'assets/img/gallery/product-details2.png')
INSERT [dbo].[Product_Images] ([imgid], [pid], [imageURL]) VALUES (3, 3, N'assets/img/gallery/product-details3.png')
SET IDENTITY_INSERT [dbo].[Product_Images] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([uid], [username], [password], [fullname], [email], [address], [phonenumber], [avatarURL]) VALUES (1, N'admin', N'admin', N'Nguyen Tien Dat', N'datnthe140692@fpt.edu.vn', N'Thon 12 - Hoa Dong - Thuy Nguyen - Hai Phong', N'0352500406', N'https://icons.iconarchive.com/icons/goescat/macaron/1024/atom-icon.png')
INSERT [dbo].[Users] ([uid], [username], [password], [fullname], [email], [address], [phonenumber], [avatarURL]) VALUES (6, N'test', N'test', N'Nguyen Van A', N'test@test', N'adsadsada', N'0123566', N'assets/img/icon/avatar.png')
INSERT [dbo].[Users] ([uid], [username], [password], [fullname], [email], [address], [phonenumber], [avatarURL]) VALUES (7, N'dummy', N'dummy', N'Dummy', N'dummy@dummy.com', N'dummy', N'0123456789', N'assets/img/icon/avatar.png')
SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__622BF0C215C063F7]    Script Date: 3/14/2021 9:50:07 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[phonenumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__622BF0C297A19CA7]    Script Date: 3/14/2021 9:50:07 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[phonenumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__AB6E61648C35102F]    Script Date: 3/14/2021 9:50:07 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__AB6E6164D2016374]    Script Date: 3/14/2021 9:50:07 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__F3DBC5724DF28EFC]    Script Date: 3/14/2021 9:50:07 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__F3DBC572E9A14502]    Script Date: 3/14/2021 9:50:07 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[Orders] ([orderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([pid])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([uid])
GO
ALTER TABLE [dbo].[Product_Categories]  WITH CHECK ADD FOREIGN KEY([cid])
REFERENCES [dbo].[Categories] ([cid])
GO
ALTER TABLE [dbo].[Product_Categories]  WITH CHECK ADD FOREIGN KEY([cid])
REFERENCES [dbo].[Categories] ([cid])
GO
ALTER TABLE [dbo].[Product_Categories]  WITH CHECK ADD FOREIGN KEY([pid])
REFERENCES [dbo].[Products] ([pid])
GO
ALTER TABLE [dbo].[Product_Categories]  WITH CHECK ADD FOREIGN KEY([pid])
REFERENCES [dbo].[Products] ([pid])
GO
ALTER TABLE [dbo].[Product_Comments]  WITH CHECK ADD FOREIGN KEY([pid])
REFERENCES [dbo].[Products] ([pid])
GO
ALTER TABLE [dbo].[Product_Comments]  WITH CHECK ADD FOREIGN KEY([pid])
REFERENCES [dbo].[Products] ([pid])
GO
ALTER TABLE [dbo].[Product_Comments]  WITH CHECK ADD FOREIGN KEY([uid])
REFERENCES [dbo].[Users] ([uid])
GO
ALTER TABLE [dbo].[Product_Comments]  WITH CHECK ADD FOREIGN KEY([uid])
REFERENCES [dbo].[Users] ([uid])
GO
ALTER TABLE [dbo].[Product_Images]  WITH CHECK ADD FOREIGN KEY([pid])
REFERENCES [dbo].[Products] ([pid])
GO
ALTER TABLE [dbo].[Product_Images]  WITH CHECK ADD FOREIGN KEY([pid])
REFERENCES [dbo].[Products] ([pid])
GO
